<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Your Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<h1>Admin panel</h1>

<h2>Adding New User</h2>

<div>
    <p th:text="${SuccessMessage}"></p>
    <p class="h4 mb-4">New user</p>

    <form th:action="@{/admin/newuser}"
          th:object="${newuser}" method="POST">
        username:<input type="text" th:field="*{userName}"
                        class="form-control mb-4 col-4" placeholder="Username"><br>

        password:<input type="text" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="Password"><br>
        name of gallery: <input type="text" th:field="*{galleryName}"
               class="form-control mb-4 col-4" placeholder="GalleryName"><br>
        photos(split by ','):<input type="text" th:field="*{photoValues}"
               class="form-control mb-4 col-4" placeholder="Photos"><br>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>


    <h1>All Galeries with photos</h1>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gallery : ${galleries}">
            <td th:text="${gallery.id}"></td>
            <td th:text="${gallery.name}"></td>
            <td th:text="${gallery.username}"></td>
            <td th:each="photo:${gallery.photos}"><p th:text="${photo.value}"></p></td>
        </tr>
        </tbody>
    </table>
</tbody>
</table>
</div>

<div>
    <form th:action="@{/admin/addPhoto}"
                     th:object="${newPhoto}" method="POST">
    Id of gallery:<input type="text" th:field="*{galleryId}"
                        class="form-control mb-4 col-4" placeholder="Id of Gallery"><br>

    value:<input type="text" th:field="*{value}"
                 class="form-control mb-4 col-4" placeholder="value"><br>

    <button type="submit" class="btn btn-info col-2">Save</button>

</form>
</div>


<form action="#" th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

</form>

</body>
</html>